.Container{
    background:#6495ED;
    height:1200px;
    position:relative;  
    color:white;
    padding-top: 80px;

}


.Container .mobile_dev{
    position:absolute;
    margin-left: 20px;
    height:30%;
    left:0;
    top:30%; 

}

.Card {
    position: relative;
    background-color: #F8F8F8;
    color: black;
	border-radius: 1.5em;
    min-width: 400px;
	max-width: 900px;
    width: 50%;
	padding: 1.5em 4em 4em 0em;
    margin-top: 2em;
    margin-bottom: 1em;
    transform: translate(-50%, -50%);
    left: 65%;
    top:16%;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 
		0 8px 8px rgba(0, 0, 0, 0.1),
		0 16px 16px rgba(0, 0, 0, 0.1), 
		0 32px 32px rgba(0, 0, 0, 0.15),
		0 64px 64px rgba(0, 0, 0, 0.15);
}

.AppManager{
    position:relative;
    width: 15%;
    float:left;
    border-radius: 8px;
    margin-right: 12px;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
}



.Container .Card .Button a{
    position: relative;
    background-color:grey;
    border-radius: 6px;
    padding: 10px 34px;
    left:0%;
    text-decoration: none;
    color:#F8F8F8;
    align-items: center;
    cursor:not-allowed;
}




h2{
    text-align:center;
    font-size: 24px;
    font-family: 'Henny Penny', cursive;
    background-image:linear-gradient(90deg, rgba(68,116,190,1) 39%, rgba(102,142,212,1) 54%, rgba(53,74,112,1) 73%);
    background-clip: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p{
    font-size: 18px;
    padding:0px 0px 20px 20px;
    height: 130px;
    text-align: justify;
}



@media screen and (max-width:690px) {

    .Container{
        background:#6495ED;
        height:1200px;
        position:relative;  
        color:white;
        padding-top: 40px;
    
    }
    
    
    .Container .mobile_dev{
        display:none;
    
    }
    
    .Card {
        position: relative;
        background-color: #F8F8F8;
        color: black;
        border-radius: 1.2em;
        min-width: 300px;
        max-width: 600px;
        min-height:350px;
        max-height:600px;
        display:flexbox;
        padding: 1.5em 4em 4em 0em;
        margin-top: 2em;
        margin-bottom: 2em;
        transform: translate(-50%, -50%);
        left: 50%;
        top:15%;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 
            0 8px 8px rgba(0, 0, 0, 0.1),
            0 16px 16px rgba(0, 0, 0, 0.1), 
            0 32px 32px rgba(0, 0, 0, 0.15),
            0 64px 64px rgba(0, 0, 0, 0.15);
    }
    
    .AppManager{
        position:relative;
        width: 25%;
        float:left;
        border-radius: 8px;
        margin-right: 12px;
        padding-top: 10%;
        padding-left: 3%;
        padding-right: 3%;
    }
    
    
    
    .Container .Card .Button a{
        position: relative;
        background-color:grey;
        border-radius: 6px;
        padding: 10px 34px;
        text-decoration: none;
        color:#F8F8F8;
        left:2em;
        align-items: center;
        cursor:not-allowed;
        top:5em;
    }
    
    
    
    
    h2{
        text-align:center;
        font-size: 24px;
        font-family: 'Henny Penny', cursive;
        background-image:linear-gradient(90deg, rgba(68,116,190,1) 39%, rgba(102,142,212,1) 54%, rgba(53,74,112,1) 73%);
        background-clip: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    p{
        font-size: 16px;
        padding:0px 0px 20px 20px;
        min-height: 130px;
        text-align: justify;
        vertical-align: center;
    }
    
}

