.Container{
    height:400px;
    padding-top:40px;
}

.Img{
    width:40px;
    margin-left: 20px;
    transition: width 2s;
}


.DSProjects{
    line-height: 32px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 2em;
}

.Button{
    position: relative;
    background-color:#6495ED;
    border-radius: 6px;
    padding: 3px 3px 4px 3px;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
    transition: background 1s;
    color:#F8F8F8;

}

.Button:hover{
    background-color:#354a70;
}


.Linkbutton{
    width:40px;
    margin-left: 20px;
    transition: transform 2s;
}

